!!!
%html
  %head
    %title StealTheCatnip
    %meta(name="viewport" content="width=device-width,initial-scale=1")
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css'
    = stylesheet_link_tag :application
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js'
  %body
    = yield
